#kepnagyito {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(82, 82, 82, 0.9);
    opacity: 0;
    display: none;
    text-align:center;
    z-index:100;
    user-select: none;
    -webkit-user-select: none;
    transition: 0.3s;
}
#kepnagyito.active {
    opacity: 1;
}
#kepnagyito_load {
    opacity: 0;
    left: 49%;
    left: calc(50% - 27px);
    top: 42%;
    position: fixed;
   z-index:101;
}
#kepnagyito_load.active {
    opacity: 1;
}
#kepnagyito_felso {
    background: rgba(58, 58, 58, 0.82);
    text-align: right;
    padding: 6px 10px;
    z-index:106;
     position: relative;
}
#kepnagyito_szoveg {
    background: rgba(58, 58, 58, 0.82);
    text-align: left;
    padding: 6px 10px;
    position: fixed;
    bottom:0;
    width:100%;
    color: #fff;
    z-index:104;
}
#kepnagyito_szoveg:empty{
  display: none;
}

#kepnagyito_szoveg.kepben{
position: relative;
margin: -34px auto;
}

#kepnagyito a{
  color:#fff;
}
#kepnagyito_next, #kepnagyito_prev {
  opacity: 0;
  color:#fff;
  transition: 0.2s;
}
#kepnagyito_next.active, #kepnagyito_prev.active {
  opacity: 1;
    position: fixed;
    top:0;
    bottom:0;
    width:20%;
    z-index: 104;
    cursor: pointer;
    
}
#kepnagyito_next span, #kepnagyito_prev span {
  position: fixed;
  display: block;
  width: 20px;
  height: 20px;
   top:48%;
    top: calc(50% - 20px);
  background: #3A3A3A;
  transition: 0.2s;
}
#kepnagyito_next span{
  float: right;
  right: -1%;
}
#kepnagyito_next.active {
  right:0;
}
#kepnagyito_next.active span {
    right: 2%;
    }
#kepnagyito_prev.active {
  left:0;
  padding-left:2%;
  }
#kepnagyito_kep1, #kepnagyito_kep2 {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 30px;
    transition: 0.2s;
    opacity: 0;
    z-index:102;
}
#kepnagyito_kep1.active, #kepnagyito_kep2.active {
   opacity: 1;
   z-index:103;
}
#nagy_kep1.touch, #nagy_kep2.touch{
  transition: 0.2s;
}

@media only screen and ( max-width: 850px ) {
  #kepnagyito {
    background: #252525;
  }
}
